# FastAPI
API_APP_PORT=8000
OPERATIONAL_API_TOKEN=medallion-ops-token

# PostgreSQL
POSTGRES_USER=admin1
POSTGRES_PASSWORD=change-me
POSTGRES_HOST=db
POSTGRES_PORT=5432
POSTGRES_DB=main
POSTGRES_PORTS=5444:5432

# pgAdmin
PGADMIN_EMAIL=admin@example.com
PGADMIN_PASSWORD=change-me
PGADMIN_PORTS=8889:80

# MinIO
MINIO_USER=admin
MINIO_PASSWORD=change-me
MINIO_API_PORT_EXTERNAL=9100
MINIO_CONSOLE_PORT_EXTERNAL=9101

# Airflow
AIRFLOW_ADMIN_USERNAME=admin
AIRFLOW_ADMIN_PASSWORD=change-me
AIRFLOW_ADMIN_FIRST_NAME=Admin
AIRFLOW_ADMIN_LAST_NAME=User
AIRFLOW_ADMIN_EMAIL=admin@example.com
AIRFLOW_API_PORT=8081
AIRFLOW_WEBSERVER_PORT=8080

# Kafka
GROUP_ID=kafka-consumer
KAFKA_BROKERCONNECT=kafka:9092
KAFKA_PORT=9092
KAFDROP_PORT=9000
KAFKA_BROKER_ID=1
KAFKA_AUTO_CREATE_TOPICS_ENABLE=true
KAFKA_ADVERTISED_HOST=kafka
KAFKA_INTERNAL_PORT=9092
KAFKA_CONTROLLER_PORT=9093
